/* Untuk Tablet */
@media (max-width: 1000px) {
.wrapper {
  max-width: 1300px;
}
 
  /* Untuk Smartphone */
  @media (max-width: 670px ) {
  .menu {
    display: none;
    opacity: 0;
  }

  section {
    width: 360px;
  }


  }
